<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <!--<li><a href="/about">About</a></li>-->
        <li><a href="/projects">Projects</a></li>
        <li><a href="/cv.pdf">CV</a></li>
      </ul>
    </nav>

    <div class="container">
      {{ content }}
    </div>

    <footer>
      <ul>
        <li><a href="mailto:whheaton@gmail.com">Email</a></li>
        <li><a href="https://github.com/wheaton5">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/william-heaton-19031a6a">LinkedIn</a></li>
      </ul>
    </footer>

  </body>

</html>
